{% extends "base.html" %}

{% block content %}
<form class="form">
    <div class="form__flex-wrapper">
        <div class="form__first-name">
            <label for="first_name">Ім'я</label>
            <input id="first_name" type="text" name="first_name" required>
        </div>
        <div class="form__last-name">
            <label for="last_name">Прізвище</label>
            <input id="last_name" type="text" name="last_name" required>
        </div>
        <div class="form__submit">
            <input type="submit" value="Привітатись!">
        </div>
    </div>
</form>
{% endblock content %}
